<% layout('layouts/boilerplate')%>
<%- include('../partials/navbar')%>
<div class="edit-new">
    <div class="edit-form">
        <h2>Edit your Product</h2>
<form action="/view/<%=y._id%>?_method=PATCH" method="POST">
    <div class="input-box">
        <input type="text" name="name" id="name" value="<%=y.name%>">
        <label for="name">Name</label>
    </div>
    <div class="input-box">

        <input type="text" name="img" id="img" value="<%=y.img%>">
        <label for="img">Image</label>
    </div>
    <div class="input-box">

        <input type="number" name="price" id="price" value="<%=y.price%>">
        <label for="price">Price</label>
    </div>
    <div class="input-box">

        <input type="text" name="discription" id="discription"value="<%=y.discription%>"/>
        <label for="discription">Discription</label>
    </div>
    <button class="addbtn">Edit</button>
</form>